include ../includes/header.jade
div.container
	include ../includes/alerts.jade
	div.row
		div.page-header
			h3 Google Places 

	div.row
		div.col-md-4.col-md-offset-4
			form.form-group
				div.input-group
					input.form-control(type="search", placeholder="eg.: 'Pubs in london'", ng-model="searchData.keyword")
					span.input-group-btn
						button.btn.btn-primary(type="button", ng-click="search(searchData)") Search
		div#map
	div.row.shops-row
		div.col-xs-12.col-sm-6.col-md-3.col-lg-3.shop-col(ng-repeat="gpshop in gpShops")
				<shop-details info="gpshop" save-shop="saveShop(shopToSave)" shop-exists="shopExists(infoId)" get-shop-details="getShopDetails(sourceId)"></shop-details>