div.container
	div.row
		div.page-header
			h3 Register
	div.row
		div.col-md-4.col-md-offset-4
			div.jumbotron
				form.form-horizontal
					div.form-group
						input.form-control(type="text", placeholder="Username", ng-model="registerform.name")
					div.form-group
						input.form-control(type="email", placeholder="Email", ng-model="registerform.email")
					div.form-group
						input.form-control(type="password", placeholder="Password", ng-model="registerform.password")
					div.form-group
						input.form-control(type="password", placeholder="Repeat password", ng-model="registerform.repassword")
					div.form-group
						label.col-sm-offset-2.col-sm-10
						button.btn.btn-primary(type="submit", ng-click="register(registerform)") Login