include ../includes/header.jade
div.container(ng-controller='MainController')
	include ../includes/alerts.jade
	div.row
		div.page-header
			h3 Users
			a.btn.btn-primary.pull-right(ng-click="newUserPanel()") Add new user

	div.row
		div.col-xs-12.col-sm-12.col-md-offset-2.col-md-8.col-lg-8.col-lg-offset-2
			table.table.table-hover
				thead
					tr
						th #
						th Name
						th Email
						th Admin
						th Actions
				tbody(ng-repeat="user in users track by $index")
					tr
						td {{ $index + 1 }}
						td {{ user.name }}
						td {{ user.email }}
						td {{ user.admin }}
						td 
							div.btn-group
								button.btn.btn-primary(ng-click="editUserPanel(user)")
									span.glyphicon.glyphicon-edit
								button.btn.btn-primary(ng-click="deleteUser(user)")
									span.glyphicon.glyphicon-trash

	div.panel.panel-primary.newUserPanel(ng-show="!formCollapsed")
		div.panel-heading New user
		div.panel-body
			form(style="max-width: 400px; margin: auto")
				label(for="username") Username
				input.form-control(type="text", name="username", ng-model="newUser.name")
				label(for="email") Email
				input.form-control(type="email", name="email", ng-model="newUser.email")
				label(for="password") Password
				input.form-control(type="password", name="password", ng-model="newUser.password")
				label(for="repeat") Repeat password
				input.form-control(type="password", name="repeat", ng-model="newUser.repeat")
				label(for="isAdmin") Is admin?
				input.form-control(type="checkbox", name="isAdmin", ng-model="newUser.admin")
				button.btn.btn-primary.pull-right(ng-click="saveNewUser(newUser)") Save

	div.panel.panel-primary.editUserPanel(ng-show="!editUserFormCollapsed")
		div.panel-heading Edit user {{ updatedUser.name }}
		div.panel-body
			form(style="max-width: 400px; margin: auto")
				label(for="username") Username
				input.form-control(type="text", name="username", ng-model="updatedUser.name")
				label(for="email") Email
				input.form-control(type="email", name="email", ng-model="updatedUser.email")
				label(for="password") Password
				input.form-control(type="password", name="password", ng-model="updatedUser.password")
				label(for="repeat") Repeat password
				input.form-control(type="password", name="repeat", ng-model="updatedUser.repeat")
				label(for="isAdmin") Is admin?
				input.form-control(type="checkbox", name="isAdmin", ng-model="updatedUser.admin")
				button.btn.btn-primary.pull-right(ng-click="editUser(updatedUser)") Save				

