<div class="panel panel-primary">
	<div class="panel-heading">
		{{ info.name }}
	</div>
	<div class="panel-body">
		<shop-picture-directive srcphoto="info"></shop-picture-directive>
		<div class="shop-details">
			<p>{{ info.address }}</p>
			<div class="shopDetailsLocation">
				<span class="label label-success">Lat: {{ info.geolocation[1] | number:4 }}</span>
				<span class="label label-success">Lng: {{ info.geolocation[0] | number:4 }}</span>
			</div>
			<input type="hidden" value="{{ info._id }}">
		</div>
	</div>
	<div class="panel-footer">
		<div class="btn-group btn-group-justified" role="group">
			<div class="btn-group">
				<button type="button" class="btn btn-danger"  ng-click="internalDeleteShop(info._id)">
					<span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Delete
				</button>
			</div>
			<div class="btn-group">
				<button type="button" class="btn btn-default" ng-click="getShopDetailsModal(info)">
					<span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span> View
				</button>
			</div>
		</div>
	</div>
</div>