<div class="modal-header">
	<h3 class="modal-title">{{ shopInfo.name }}</h3>
</div>
<div class="modal-body">
	<div>
		<span class="shop-details-title">Address:</span> {{ shopInfo.formatted_address }} <!-- {{ shopInfo.address }} -->
	</div>
	<div>
		<span class="shop-details-title">Phone number:</span>
		<span ng-show="shopInfo.international_phone_number">{{ shopInfo.international_phone_number }}</span>
		<span ng-hide="shopInfo.international_phone_number">Not available</span>
	</div>
	<div>
		<span class="shop-details-title">Website:</span>
		<span ng-show="shopInfo.website">{{ shopInfo.website }}</span>
		<span ng-hide="shopInfo.website">Not available</span>
	</div>
	<div>
		<span class="shop-details-title">Price level:</span>
		<span ng-show="shopInfo.price_level">
			<uib-rating readonly="true" ng-init="y = shopInfo.price_level" ng-model="y" state-on="'glyphicon-euro'" state-off="'glyphicon-minus'"></uib-rating>({{ shopInfo.price_level }})
		</span>
		<span ng-hide="shopInfo.price_level">Not available</span>
	</div>
	<div>
		<span class="shop-details-title">Rating:</span>
		<span ng-show="shopInfo.rating">
			<uib-rating class="shop-rating" readonly="true" ng-init="x = shopInfo.rating" ng-model="x" state-on="'glyphicon-star'" state-off="'glyphicon-star-empty'"></uib-rating>({{ shopInfo.rating }})
		</span>
		<span ng-hide="shopInfo.rating">Not available</span>
	</div>
	<div ng-show="shopInfo.reviews_count">
		<span class="shop-details-title">Reviews:</span>
		<span>{{ shopInfo.reviews_count }}</span>
	</div>
	<div>
	<uib-accordion class="shop-details-accordion" close-others="true">
		<uib-accordion-group heading="Opening hours" ng-show="!shopInfo.opening_hours.weekday_text">
			<div ng-repeat="period in shopInfo.opening_hours">
				<span>{{ period }}</span>
			</div>
		</uib-accordion-group>
		<uib-accordion-group heading="Opening hours" ng-show="shopInfo.opening_hours.weekday_text">
			<div ng-repeat="period in shopInfo.opening_hours.weekday_text">
				<span>{{ period }}</span>
			</div>
		</uib-accordion-group>
		<uib-accordion-group heading="Gallery" is-open="">
			<div class="carousel-container">
				<div class="shop-detail-gallery" ng-repeat="pic in shopInfo.photos">
					<img ng-src="{{pic}}">
				</div>
			</div>
		</uib-accordion-group>
		<uib-accordion-group heading="Reviews" is-open="" ng-show="shopInfo.reviews">
			<ul class="list-group">
				<li ng-repeat="review in shopInfo.reviews" class="list-group-item">
					<div class="">
						<uib-rating class="shop-rating" readonly="true" ng-init="x = review.rating" ng-model="x" state-on="'glyphicon-star'" state-off="'glyphicon-star-empty'"></uib-rating>({{ review.rating }})
						<span>{{ review.text }}</span> <i>({{ review.time * 1000 | date : "dd/MM/yyyy 'at' h:mma" }})</i>
					</div>
				</li>
			</ul>
		</uib-accordion-group>
		<uib-accordion-group heading="Edit description" is-open="" ng-show="!googlePlacesList">
			<form>
				<textarea ng-model="shopInfo.description" class="form-control" rows="3"></textarea>
				<div class="btn-group">
					<button class="btn btn-default btn-primary" ng-click="saveDescription()">Save</button>
				</div>
			</form>

		</uib-accordion-group>
	</uib-accordion>
	</div>

</div>

<div class="modal-footer">
	<button class="btn btn-default" ng-click="ok()">Close</button>
</div>
