doctype html
html(ng-app="shopApp")
	head
		meta(charset='utf8')
		meta(name="viewport" content="width=device-width, initial-scale=1")
		base(href='/')
		title Store Finder Dashboard 
		link(rel='stylesheet', href='/css/style.css')
		link(rel='stylesheet', href='/lib/jsoneditor/dist/jsoneditor.min.css')
		link(rel='stylesheet', href='/lib/bootstrap/dist/css/bootstrap-material.min.css')
		link(rel='stylesheet', href='/lib/angular-loading-bar/build/loading-bar.min.css')
	body
		block content

	//- Google Places API
	script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyBFR0Qm_IcJwjp-8DYskipfAAcDy-qirKs&libraries=places')

	//- Angular native files
	script(src='lib/angular/angular.min.js')
	script(src='lib/angular-route/angular-route.min.js')
	script(src='lib/angular-animate/angular-animate.min.js')
	script(src='lib/angularjs-google-places/src/angularjs-google-places.js')
	script(src='lib/jsoneditor/dist/jsoneditor.min.js')
	script(src='lib/ng-jsoneditor/ng-jsoneditor.min.js')
	
	//- Angular-Bootstrap files
	//- script(src='lib/angular-bootstrap/ui-bootstrap.min.js')
	script(src='lib/angular-bootstrap/ui-bootstrap-tpls.min.js')
		
	//- Auth files
	script(src='lib/ngstorage/ngStorage.min.js')
	script(src='lib/angular-loading-bar/build/loading-bar.min.js')

	//- Angular app files
	script(src='js/app.js')

	//- Angular services
	script(src='js/services/GPService.js')
	script(src='js/services/shopsService.js')
	script(src='js/services/libraryService.js')
	script(src='js/services/AuthService.js')
	script(src='js/services/usersService.js')
	script(src='js/services/AlertService.js')
	script(src='js/services/appSettingsService.js')
	
	//- Angular controllers
	script(src='js/controllers/MainController.js')
	script(src='js/controllers/ModalInstanceController.js')
	script(src='js/controllers/ApiCheckController.js')
	script(src='js/controllers/GPController.js')
	script(src='js/controllers/ShopsController.js')
	script(src='js/controllers/AuthController.js')
	script(src='js/controllers/UsersController.js')
	script(src='js/controllers/AppSettingsController.js')
	script(src='js/controllers/RegisterController.js')

	//- Angular directives
	script(src='js/directives/shopDetailsDirective.js')
	script(src='js/directives/persistedShopDetailsDirective.js')
	script(src='js/directives/shopPictureDirective.js')

	//- script(src='js/filters.js')
	script(src='js/scripts.js')