body {
	padding-top: 70px;
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
	background-color: #F0EDE9 !important;
}

a {
	color: #00B7FF;
}

.nav, .pagination, .carousel, .panel-title a {
	cursor: pointer;
}

.carousel, .carousel-inner {
	height: 100%;
}

.modal-header {
	background: #2196f3;
	/*background: #4caf50;*/
}

.modal-header .modal-title {
	color: white;
}

.modal-footer {
	background: #f5f5f5;
}

.carousel-container {
	height: 172px;
	/*height: 300px;*/
	max-width: 492px;
	margin: 0px auto 0px;
	overflow: scroll;
	border: 1px solid #DDD;
	padding: 0px 5px 10px 5px;
	position: relative;	
}
 
.shop-rating {
	color:#E0CA3C;
}

.shop-details-accordion {
	margin-top: 20px;
	display: block;
}

.shop-detail-gallery {
	width: 150px;
	height: 150px;
	margin: 10px 5px 0 5px;
	display: inline-block;
}

.shop-detail-gallery img {
	width: 100%;
	height: 100%;
	transition: all 0.3s;
}

.shop-detail-gallery img:hover {
	/*position: absolute;*/
	/*width: 472px;*/
	/*height: auto;*/
	/*top: 0;*/
	/*left: 0;*/
	/*transform: scale(1.2);*/
}

span.shop-details-title {
	font-weight: bold;
}

.shop-details-hours {
	display: inline-block;
	vertical-align: top;
}

.shops-row {
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-align-content: flex-end;
    align-content: flex-end;
    display: -webkit-flex;
    display: flex;	
}

.shop-col .panel-body {
	min-height: 360px;
	padding: 0;
}

.shop-photo img {
	-webkit-transition: transform linear 0.2s;
	transition: transform linear 0.2s;	
}

.shop-col .panel :hover .shop-photo img {
	/*transform: scale(0.9);*/
	/*transform: rotate(5deg);*/
}

.shop-col .panel {	
	-webkit-transition: box-shadow linear 0.15s;
	transition: box-shadow linear 0.15s;
}

.shop-col .panel:hover {
	box-shadow: 2px 3px 6px rgba(0,0,0,0.4)
}

.alerts-box {
	position: fixed !important;
	top: 80px;
	right: 20px;
	/*width: 400px;*/
	z-index: 999;
}

.animate-repeat.ng-move,
.animate-repeat.ng-enter,
.animate-repeat.ng-leave {
	-webkit-transition: all linear 0.5s;
	transition: all linear 0.5s;
}
 
.animate-repeat.ng-leave.ng-leave-active,
.animate-repeat.ng-move,
.animate-repeat.ng-enter {
	opacity: 0;
	max-height:0;
}

.animate-repeat.ng-leave.ng-leave-active {
	padding: 0 35px 0 10px !important;
}


.animate-repeat.ng-leave,
.animate-repeat.ng-move.ng-move-active,
.animate-repeat.ng-enter.ng-enter-active {
	opacity: 1;
	max-height:40px;
}

.alert {
	padding: 5px 35px 5px 10px !important;
}

/*
.animate-repeat {
  list-style:none;
  box-sizing:border-box;
}
*/

.animate-shop-repeat.ng-move,
.animate-shop-repeat.ng-leave {
	-webkit-transition: all linear 0.5s;
	transition: all linear 0.5s;
}

.animate-shop-repeat.ng-move,
.animate-shop-repeat.ng-leave.ng-leave-active {
	opacity: 0;	
}

.api-block {
	min-height: 200px;
}

.shop-photo {
	width: 100%;
	height: 262px;
	overflow: hidden;
	margin-bottom: 15px;
	position: relative;
}

.shop-photo img {
	position: absolute;
	top: 0;
	left: 0;
}

.shop-details {
	margin: 15px;
}

.shopDetailsLocation {
	text-align: center;
}

.modal-backdrop {
  /*bottom:-3000px;*/
  display: none;
}

/* Users */
.editUserPanel, .newUserPanel {
	background: white;
	position: absolute;
	width: 400px;
	top: 100px;
	left: 35%;
}